body{
    margin: 0;
    padding: 0;
    background-color: #D5d5d5;

    .hello-world{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 100px;
    }
}
